In [1]:
import pandas as pd

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
import pandas as pd

i = [10,20,30,40,50,60]

df = pd.DataFrame(i)

print(df)

    0
0  10
1  20
2  30
3  40
4  50
5  60

In [3]:
import pandas as pd

i = [1,2,3,4,5,6,7,8]

df = pd.DataFrame(i)

print(df)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8

In [4]:
import pandas as pd

i =["Item 1","Item 2","Item 3","Item 4"]

df = pd.DataFrame(i)

print(df)

        0
0  Item 1
1  Item 2
2  Item 3
3  Item 4

In [11]:
import pandas as pd

i =["demo1","demo2","demo3","demo4",10,20,3.40,67]

df = pd.DataFrame(i)

print(df)

       0
0  demo1
1  demo2
2  demo3
3  demo4
4     10
5     20
6    3.4
7     67

In [14]:
import pandas as pd

i = {'no':["a","b","c"],'name':['aly','jasmin','manju',]}

s = pd.DataFrame(i)

print(s)

  no    name
0  a     aly
1  b  jasmin
2  c   manju

In [15]:
import pandas as pd

i = {'no':[1,2,3,4],'name':['rahul','disha','sid','sana'],'city':['pune','mumbai','nagpur','nashik']}

s = pd.DataFrame(i)

print(s)

   no   name    city
0   1  rahul    pune
1   2  disha  mumbai
2   3    sid  nagpur
3   4   sana  nashik

In [18]:
import pandas as pd

i = {'no':[1,2,3],'name':['krish','hardik','akshay'],'city':['latur','beed','jaipur',]}
     
s = pd.DataFrame(i)
     
print(s)

   no    name    city
0   1   krish   latur
1   2  hardik    beed
2   3  akshay  jaipur

In [21]:
import pandas as pd

i = {'no':pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])}

s = pd.DataFrame(i)

print(s)

   no
a   1
b   2
c   3
d   4
e   5

In [22]:
import pandas as pd

i = {'no':pd.Series([1,2,3],index=['a','b','c']),
    'no1':pd.Series([4,5,6],index=['a1','b1','c1'])}

s = pd.DataFrame(i)

print(s)

     no  no1
a   1.0  NaN
a1  NaN  4.0
b   2.0  NaN
b1  NaN  5.0
c   3.0  NaN
c1  NaN  6.0